html, body {
    height: 100%;
    background-color: #1985D0
}

#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}

#appLoadingIndicator > * {
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}

@-webkit-keyframes appLoadingIndicator{
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}

#theme div.x-dock{
  margin: 0px;
}

#theme{
    padding: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border-left: solid 1px black;
}

#theme .x-form-label-nowrap .x-form-label{
    white-space:normal;
}

#theme .x-component-outer {
  width: 45px;
}


#theme .x-unsized.x-field-input{
  width: 45px;
}

#theme .x-input-el.x-input-checkbox{
  width: 45px;
}

#theme .x-field-mask{
  width: 45px;
  right:7px;
}
/*
#theme .x-field-input .x-field-mask{
    width: 40px;
}
*/
#detail{
    padding: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border-left: solid 1px black;
}
#detail .x-inner.x-panel-inner{
    -webkit-border-radius:0px;
    border-radius:0px;
}

#detail div.x-dock-vertical{
    margin: 1px;
}

#menu .x-item-selected{
  color:#000000;
  background-color:#dddddd;
  border-top-color:#cccccc;
  border-bottom-color:#bbbbbb;
  background-image:-webkit-linear-gradient(top, rgb(250,247,250), rgb(234,234,234) 3%, rgb(184,186,184));

/*      background-color:#dddddd;
  border-top-color:#bbbbbb;
  border-bottom-color:#bbbbbb;
*/
  /*background-image:-webkit-linear-gradient(bottom, rgb(185,189,188) 23%, rgb(187,187,187) 50%, rgb(204,203,207) 86%);*/
}

#custom-tweet-button a {
    display: block;
    padding: 2px 5px 2px 20px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;
  }
span.menuicon{
  float: left;
  width:25px;
  height:25px;
  margin:-2px 9px 0px 0px;
}
span.menutext{
  float: left;
  height:27px;
  padding-top: 0px;
  padding-left: 3px;
  vertical-align: middle;
}
span.menuicon.All {
  background: url(../images/allfeeds.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Twitter {
  background: url(../images/twitter.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Videos {
  background: url(../images/youtube.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Photos {
  background: url(../images/image.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.News {
  background: url(../images/news.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Articles {
  background: url(../images/article.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Publications {
  background: url(../images/books.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
span.menuicon.Links {
  background: url(../images/link.png);
  background-size:25px 25px;
  background-repeat: no-repeat;
}
/*      

span.menuicon.All {
  background: url(../images/icon-allfeeds.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Twitter {
  background: url(../images/icon-twitter.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Videos {
  background: url(../images/icon-videos.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Photos {
  background: url(../images/icon-photos.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.News {
  background: url(../images/icon-news.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Articles {
  background: url(../images/icon-blog.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Publications {
  background: url(../images/icon-publications.svg);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Insight {
  background: url(resources/images/lightning.png);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Profile {
  background: url(resources/images/user.png);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.Favorite {
  background: url(resources/images/star.png);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
span.menuicon.About {
  background: url(resources/images/setting.png);
  background-size:30px 30px;
  background-repeat: no-repeat;
}
*/
#detail .header,#detail .header{
  background-image:none;background-color:#eeeeee;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(3%, #fbfbfb), color-stop(100%, #e1e1e1));
  background-image:-webkit-linear-gradient(top, #ffffff,#fbfbfb 3%,#e1e1e1);
  background-image:linear-gradient(top, #ffffff,#fbfbfb 3%,#e1e1e1);
  border-bottom:1px solid #ccc;
  border-top:1px solid #ddd;padding:1em 0.8em;
  padding:10px 14px;
}

#detail .header h4 {
  font-size: smaller;
  padding-top: 7px;
  color: gray;
}

#detail .header.Twitter h3 {
  line-height:160%
}

#detail p {
  padding: 14px;
}

#detail span.link,span.username,span.hashtag,span.at,span.shap{
  text-decoration:underline;
  cursor: pointer;
  color:blue;
}

#detail div.x-dock{
  margin: 0px;
}

#list .x-list-item.x-stretched.x-list-item-tpl.x-list-item-relative span.link,span.username,span.hashtag,span.at,span.shap{
  text-decoration:underline;
  cursor: pointer;
  color:blue;
}

#list .x-list-item.x-stretched.x-list-item-tpl.x-list-item-relative.x-item-selected span.link,span.username,span.hashtag,span.at,span.shap{
  text-decoration:underline;
  cursor: pointer;
  color:white;
}


#list .x-list-item.x-stretched.x-list-item-tpl.x-list-item-relative span.typeName{
  color:#989898;
  margin-bottom:8px;
}

#list .x-list-item.x-stretched.x-list-item-tpl.x-list-item-relative.x-item-selected span.typeName{
  color:white;
}
